In [140]:
import numpy as np
import pandas as pd

In [141]:
from prophet import Prophet

In [142]:
df=pd.read_csv('daily-minimum-temperatures-in-me.csv')
df.head(5)

       Date Daily minimum temperatures
0  1/1/1981                       20.7
1  1/2/1981                       17.9
2  1/3/1981                       18.8
3  1/4/1981                       14.6
4  1/5/1981                       15.8

In [143]:
df.shape

(3650, 2)

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        3650 non-null   object
 1   Daily minimum temperatures  3650 non-null   object
dtypes: object(2)
memory usage: 57.2+ KB

In [145]:
df.describe()

            Date Daily minimum temperatures
count       3650                       3650
unique      3650                        230
top     1/1/1981                         11
freq           1                         51

In [146]:
df.head()

       Date Daily minimum temperatures
0  1/1/1981                       20.7
1  1/2/1981                       17.9
2  1/3/1981                       18.8
3  1/4/1981                       14.6
4  1/5/1981                       15.8

In [147]:
import datetime

In [148]:
df['Date']=pd.to_datetime(df['Date'])

In [149]:
trial=df.copy()

In [150]:
df

           Date Daily minimum temperatures
0    1981-01-01                       20.7
1    1981-01-02                       17.9
2    1981-01-03                       18.8
3    1981-01-04                       14.6
4    1981-01-05                       15.8
...         ...                        ...
3645 1990-12-27                         14
3646 1990-12-28                       13.6
3647 1990-12-29                       13.5
3648 1990-12-30                       15.7
3649 1990-12-31                         13

[3650 rows x 2 columns]

In [151]:
df['Date_year']=df['Date'].dt.year
df['Date_month']=df['Date'].dt.month
df['Date_day']=df['Date'].dt.day

In [152]:
df

           Date Daily minimum temperatures  Date_year  Date_month  Date_day
0    1981-01-01                       20.7       1981           1         1
1    1981-01-02                       17.9       1981           1         2
2    1981-01-03                       18.8       1981           1         3
3    1981-01-04                       14.6       1981           1         4
4    1981-01-05                       15.8       1981           1         5
...         ...                        ...        ...         ...       ...
3645 1990-12-27                         14       1990          12        27
3646 1990-12-28                       13.6       1990          12        28
3647 1990-12-29                       13.5       1990          12        29
3648 1990-12-30                       15.7       1990          12        30
3649 1990-12-31                         13       1990          12        31

[3650 rows x 5 columns]

In [153]:
trial['ds']=trial['Date']
trial['y']=trial['Daily minimum temperatures']

In [154]:
trial

           Date Daily minimum temperatures         ds     y
0    1981-01-01                       20.7 1981-01-01  20.7
1    1981-01-02                       17.9 1981-01-02  17.9
2    1981-01-03                       18.8 1981-01-03  18.8
3    1981-01-04                       14.6 1981-01-04  14.6
4    1981-01-05                       15.8 1981-01-05  15.8
...         ...                        ...        ...   ...
3645 1990-12-27                         14 1990-12-27    14
3646 1990-12-28                       13.6 1990-12-28  13.6
3647 1990-12-29                       13.5 1990-12-29  13.5
3648 1990-12-30                       15.7 1990-12-30  15.7
3649 1990-12-31                         13 1990-12-31    13

[3650 rows x 4 columns]

In [155]:
trial=trial.drop('Date', axis=1)
trial=trial.drop('Daily minimum temperatures', axis=1)

In [156]:
trial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      3650 non-null   datetime64[ns]
 1   y       3650 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 57.2+ KB

In [161]:
trial

             ds     y
0    1981-01-01  20.7
1    1981-01-02  17.9
2    1981-01-03  18.8
3    1981-01-04  14.6
4    1981-01-05  15.8
...         ...   ...
3645 1990-12-27    14
3646 1990-12-28  13.6
3647 1990-12-29  13.5
3648 1990-12-30  15.7
3649 1990-12-31    13

[3650 rows x 2 columns]

In [171]:
trial['y']=trial['y'].replace('?', '',regex=True, inplace=True)

error: nothing to repeat at position 0

In [169]:
trial.iloc[565,:]

ds    1982-07-20 00:00:00
y                    ?0.2
Name: 565, dtype: object

In [172]:
m=Prophet()